In [2]:
## imports
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [6]:

ten_k_prefix="/var/datasets/10kImmunomes/transcriptomics/"
### Files we got:
## pbmc_rna_counts.csv
## whole_blood_rna_tpm.csv
## Gene_Expression_PBMC 
### gene_pbmc_formatted.csv ; gene_pbmc_normalized.csv  -> i take formatted as the wholeblood only exists in formatted... 
## Gene_Expression_Whole_Blood_formatted.csv 

print("\n###########################################################")
print("rna_seq_pbmc")
print("============================================================")
rna_seq_pbmc = pd.read_csv(f"{ten_k_prefix}/pbmc_rna_counts.csv",sep=",")
print(rna_seq_pbmc.columns)
print(rna_seq_pbmc.shape)

print("\n###########################################################")
print("rna_seq_whole_blood.csv")
print("============================================================")
rna_seq_whole_blood = pd.read_csv(f"{ten_k_prefix}/whole_blood_rna_tpm.csv",sep=",")
print(rna_seq_whole_blood.columns)
print(rna_seq_whole_blood.shape)

print("\n###########################################################")
print("marray_pbmc")
print("============================================================")
marray_pbmc = pd.read_csv(f"{ten_k_prefix}/gene_pbmc_formatted.csv",sep=",")
print(marray_pbmc.columns)
print(marray_pbmc.shape)

print("\n###########################################################")
print("marray_whole_blood")
print("============================================================")
marray_whole_blood = pd.read_csv(f"{ten_k_prefix}/Gene_Expression_Whole_Blood_formatted.csv",sep=",")
print(marray_whole_blood.columns)
print(marray_whole_blood.shape)

###########################################################
rna_seq_pbmc
============================================================
Index(['hgnc', 'ES740442', 'ES740445', 'ES740448', 'ES740451', 'ES740454',
       'ES740457', 'ES740460', 'ES740463', 'ES740466',
       ...
       'ES740889', 'ES740892', 'ES740895', 'ES740898', 'ES740901', 'ES740904',
       'ES740907', 'ES740910', 'ES740913', 'ES740916'],
      dtype='object', length=160)
(23113, 160)

###########################################################
rna_seq_whole_blood.csv
============================================================
Index(['ensembl', 'hgnc', 'P14_D0', 'P14_D3', 'P17_D0', 'P17_D7', 'P21_D0',
       'P21_D3', 'P23_D0', 'P23_D7',
       ...
       'X50_L6.LB12', 'X100_L4.LB2', 'X31_L4.LB9', 'X64_P_L4.LB13',
       'X67_L1.LB15', 'X107_L5.LB3', 'X19_L3.LB5', 'X39_L1.LB10',
       'X96_L5.LB23', 'X81_L7.LB16'],
      dtype='object', length=355)
(9587, 355)

###########################################################
marray_pbmc
============================================================
Index(['data_accession', 'subject_accession', 'age', 'gender', 'race',
       'study_accession', 'DDR1', 'RFC2', 'HSPA6', 'PAX8',
       ...
       'IGLON5', 'LRGUK', 'TMIGD2', 'DMRTA1', 'CCDC54', 'NA.395', 'ZBED9',
       'KBTBD12', 'CCDC63', 'GALR3'],
      dtype='object', length=18050)
(176, 18050)

###########################################################

marray_whole_blood
============================================================
Index(['data_accession', 'subject_accession', 'age', 'gender', 'race',
       'study_accession', 'EEF1A1', 'GAPDH', 'SLC35E2', 'DUSP22',
       ...
       'CTXN2', 'KRTAP20-3', 'SNHG8', 'NA.221', 'PSORS1C3', 'PISRT1', 'NA.222',
       'NA.223', 'KRTAP22-2', 'KRTAP21-3'],
      dtype='object', length=18424)
(464, 18424)

In [22]:
### okay das is schonmal nicht so einheitlich wie erhofft. 
### am besten sind die microarrays
print(f'Studies: {marray_pbmc.shape}')
print(f'Studies: {len(marray_pbmc['study_accession'].unique())}')
print(f'Subjects: {len(marray_pbmc['subject_accession'].unique())}')
print(f'Data ACCESSIONS ??: {len(marray_pbmc['data_accession'].unique())}')
marray_pbmc.head()

Studies: (176, 18050)
Studies: 7
Subjects: 165
Data ACCESSIONS ??: 176

,data_accession,subject_accession,age,gender,race,study_accession,DDR1,RFC2,HSPA6,PAX8,...,IGLON5,LRGUK,TMIGD2,DMRTA1,CCDC54,NA.395,ZBED9,KBTBD12,CCDC63,GALR3
0,GSM733843,SUB112829,26.0,Male,White,SDY269,3.636997,3.812365,6.357032,3.390811,...,3.126041,3.332293,4.616570,3.490975,3.421896,3.725747,3.298736,3.956550,4.308991,4.412242
1,GSM733852,SUB112831,40.0,Male,Black or African American,SDY269,3.799627,3.857310,4.737707,3.482260,...,3.325291,3.368136,5.263290,3.309746,3.308634,3.964230,3.329042,3.843393,3.934453,3.694510
2,GSM733855,SUB112836,28.0,Female,White,SDY269,3.682969,4.470334,5.901640,3.377821,...,3.210415,3.269840,5.213880,3.293049,3.303433,3.984925,3.097570,3.604278,3.803132,3.871821
3,GSM733858,SUB112838,39.0,Male,White,SDY269,3.901055,4.070229,6.657515,3.350098,...,3.216510,3.243445,4.541433,3.442143,3.458690,4.890399,3.506866,4.258766,3.733437,4.234583
4,GSM733861,SUB112839,23.0,Female,White,SDY269,4.039110,4.104200,4.744020,3.291414,...,3.195351,3.331442,5.325317,3.246671,3.282665,4.346354,3.269897,3.698939,3.670698,3.833476

In [23]:
print(f'Studies: {marray_whole_blood.shape}')
print(f'Studies: {len(marray_whole_blood['study_accession'].unique())}')
print(f'Subjects: {len(marray_whole_blood['subject_accession'].unique())}')
print(f'Data ACCESSIONS ??: {len(marray_whole_blood['data_accession'].unique())}')
marray_whole_blood.head()

Studies: (464, 18424)
Studies: 10
Subjects: 311
Data ACCESSIONS ??: 464

,data_accession,subject_accession,age,gender,race,study_accession,EEF1A1,GAPDH,SLC35E2,DUSP22,...,CTXN2,KRTAP20-3,SNHG8,NA.221,PSORS1C3,PISRT1,NA.222,NA.223,KRTAP22-2,KRTAP21-3
0,GSM2300358,SUB116437,63.9,Male,White,SDY111,12.900495,10.160145,6.630491,7.493026,...,6.470868,6.567214,7.014136,6.576544,6.544904,6.611353,6.458018,6.504691,6.435031,6.456866
1,GSM2300366,SUB116437,63.9,Male,White,SDY111,12.900495,10.160145,6.630491,7.493026,...,6.470868,6.567214,7.014136,6.576544,6.544904,6.611353,6.458018,6.504691,6.435031,6.456866
2,GSM2300371,SUB116438,64.2,Female,White,SDY111,12.525918,10.023569,6.672434,7.136331,...,6.565738,6.567646,6.999655,6.509168,6.596500,6.608629,6.451947,6.557095,6.561815,6.440005
3,GSM2300363,SUB116438,64.2,Female,White,SDY111,12.525918,10.023569,6.672434,7.136331,...,6.565738,6.567646,6.999655,6.509168,6.596500,6.608629,6.451947,6.557095,6.561815,6.440005
4,GSM2300374,SUB116439,68.9,Female,White,SDY111,12.936886,10.050780,6.610226,7.358887,...,6.565028,6.618523,6.777988,6.607149,6.484453,6.569432,6.656809,6.498053,6.502213,6.524032

In [21]:
### Differently shaped: we got one hgnc col : HUGO Gene Nomenclature Committee ('HGNC') ? 
print('RNAseq PBMC: ')
rna_seq_pbmc_T = rna_seq_pbmc.T
rna_seq_pbmc_T.reset_index(0, inplace=True)
rna_seq_pbmc_T.columns = rna_seq_pbmc_T.iloc[0]
rna_seq_pbmc_T = rna_seq_pbmc_T.drop(rna_seq_pbmc_T.index[0])
print(rna_seq_pbmc.shape)
rna_seq_pbmc_T.head()

## TODO find out metadata here...

RNAseq PBMC:
(23113, 160)

,hgnc,1/2-SBSRNA4,A1BG,A1BG-AS1,A1CF,A2LD1,A2M,A2ML1,A2MP1,A4GALT,...,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1,ZZZ3
1,ES740442,59,1049,119,4,691,230,5,7,26,...,910,354,1204,4243,13189,25,7935,72627,24630,8006
2,ES740445,57,1213,204,1,829,194,8,8,5,...,1019,366,1012,3074,13138,10,7348,78634,17712,5779
3,ES740448,48,931,170,2,617,260,7,20,35,...,761,405,971,3264,12805,24,6778,88016,27285,5887
4,ES740451,67,726,147,1,704,234,8,13,33,...,1215,398,1252,4255,13864,11,8402,86859,23556,6637
5,ES740454,51,846,151,2,1427,145,2,15,5,...,711,279,1136,3977,9974,8,7154,52028,18507,5878

In [25]:
## Hier hab ich quasi 2 headlines: eins ist eben für die ENSGxxxxx nummern und eine f+r den Gene bezeichner
print('RNAseq Whole blood: ')
rna_seq_whole_blood_T = rna_seq_whole_blood.T
rna_seq_whole_blood_T.reset_index(0, inplace=True)
ensg_numbers = rna_seq_whole_blood_T.iloc[0]
rna_seq_whole_blood_T.columns = rna_seq_whole_blood_T.iloc[1]
rna_seq_whole_blood_T = rna_seq_whole_blood_T.drop(rna_seq_whole_blood_T.index[1])
print(rna_seq_whole_blood_T.shape)
rna_seq_whole_blood_T.head()

RNAseq Whole blood:
(354, 9588)

1,hgnc,A1BG,AAAS,AACS,AAGAB,AAK1,AAMP,AARS2,AASDH,AASDHPPT,...,ZSWIM3,ZSWIM4,ZSWIM6,ZSWIM7,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX
1,hgnc,A1BG,AAAS,AACS,AAGAB,AAK1,AAMP,AARS2,AASDH,AASDHPPT,...,ZSWIM3,ZSWIM4,ZSWIM6,ZSWIM7,ZW10,ZWILCH,ZWINT,ZXDC,ZYG11B,ZYX
2,P14_D0,44.42669,0.0,122.037397,9.248005,11.786673,5.621336,291.765486,24.480013,14.506674,...,27.200014,5.621336,0.0,0.0,34.816018,19.946677,16.682675,0.0,21.034678,8.160004
3,P14_D3,40.104895,0.0,27.336806,8.348366,6.056658,5.074497,227.042812,22.098615,8.839446,...,24.554017,0.0,0.0,0.0,21.771229,15.387184,21.443842,0.0,18.98844,0.0
4,P17_D0,55.73234,0.0,202.885273,8.310963,41.065935,5.051762,254.054731,21.999608,14.829365,...,24.444009,5.051762,0.0,0.0,21.673688,22.651448,21.347768,0.0,18.903367,7.333203
5,P17_D7,65.247413,0.0,66.43373,8.234433,24.005465,3.628733,261.896837,26.378099,8.862483,...,33.077298,6.350283,10.397716,0.0,30.634882,16.189732,27.564415,0.0,30.076615,6.140933