In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy.io import mmread

In [3]:
#With his I mostly want to find out how i can integrate this papers data into ImmPort

In [4]:
## Testwise integration of 2020_Arachandra_Wimmers
root_folder = '/var/datasets/single_papers/2020_Arunachalam_Wimmers/'
gse152418_folder = root_folder + 'GSE152418/'

In [5]:
counts_file = gse152418_folder + '/GSE152418_p20047_Study1_RawCounts.txt'
counts_gse152418 = pd.read_csv(counts_file, sep='\t')
print(counts_gse152418.shape)
counts_gse152418.head()

(60683, 35)

,ENSEMBLID,S145_nCOV001_C,S147_nCoV001EUHM-Draw-1,S149_nCoV002EUHM-Draw-2,S150_nCoV003EUHM-Draw-1,S151_nCoV004EUHM-Draw-1,S152_nCoV006EUHM-Draw-1,S153_nCoV007EUHM-Draw-1,S154_nCoV0010EUHM-Draw-1,S155_nCOV021EUHM,...,S068_272,S069_273,S070_279,S071_280,S181_255,S182_SHXA10,S183_263,S184_SHXA18,S185_266,S186_SHXA14
0,ENSG00000223972,0,0,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
1,ENSG00000227232,1,0,3,16,1,2,18,6,20,...,1,1,1,2,3,4,1,0,0,7
2,ENSG00000278267,3,1,2,0,3,0,0,1,3,...,2,7,2,6,3,2,6,12,5,3
3,ENSG00000243485,2,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
4,ENSG00000284332,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
family_file = gse152418_folder + '/GSE152418_family.xml'
familiy_gse152418 = pd.read_xml(family_file)
familiy_gse152418[['Title', 'iid']].dropna

<bound method DataFrame.dropna of                                                 Title         iid
0                                                None    contrib1
1                                                None    contrib2
2                                                None    contrib3
3                                                None    contrib4
4                                                None    contrib5
..                                                ...         ...
65                                           S183_263  GSM4615034
66                                        S184_SHXA18  GSM4615035
67                                           S185_266  GSM4615036
68                                        S186_SHXA14  GSM4615037
69  Systems biological assessment of immunity to s...   GSE152418

[70 rows x 2 columns]>

In [7]:
### Mapping von den 2 tabellen ... 
## via GSM nummern!  -> ZukunftsElias

In [8]:
metadata_file = gse152418_folder + '/metadata.txt'
metadata_gse152418 = pd.read_csv(metadata_file)
metadata_gse152418.head()

,Run,Age,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,Bytes,cell_type,Center Name,...,Organism,Platform,ReleaseDate,create_date,version,Sample Name,Sample_name,sex,source_name,SRA Study
0,SRR12404152,75,RNA-Seq,127,4705722618,PRJNA655740,SAMN15751363,2422148361,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T22:04:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
1,SRR12404153,75,RNA-Seq,127,4774315699,PRJNA655740,SAMN15751363,2508685744,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T21:59:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
2,SRR12404154,75,RNA-Seq,127,4845187922,PRJNA655740,SAMN15751363,2484581412,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T22:07:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
3,SRR12404156,75,RNA-Seq,127,4939458244,PRJNA655740,SAMN15751363,2527824162,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T22:25:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
4,SRR12404159,60,RNA-Seq,127,3810265049,PRJNA655740,SAMN15751349,1967331144,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T21:26:00Z,1,GSM4712899,nCOV021EUHM,female,single cell mRNA,SRP276502

In [9]:
totalseq_df = pd.read_csv(gse152418_folder + 'geo/.csv')
totalseq_df.head()

FileNotFoundError: [Errno 2] No such file or directory: '/var/datasets/single_papers/2020_Arunachalam_Wimmers/GSE152418/geo/.csv'

In [ ]:
## Biomarkers from 
print(f'Biomarkers: {len(totalseq_df['Specificity'].unique())}')
spec_names = totalseq_df['Specificity'].unique()
totalseq_df['Specificity'].unique()
# what is: 
## Catalog (table headline), and Clone ?
## Îº Isotype Control ?
# Not important but: Can you even count an antibody as a biomarker ? 
# Count try: {entry: totalseq_df['Specificity'].value_counts().get(entry, 0) for entry in spec_names}

Biomarkers: 38

array(['CD279 (PD-1)', 'CD86', 'CD274 (B7-H1, PD-L1)', 'CD3',
       'CD56 (NCAM)', 'CD19', 'CD33', 'CD11c', 'CD34', 'CD45RA', 'CD123',
       'CD8a', 'CD14', 'CD16', 'CD25', 'CD45RO',
       'Mouse IgG1, Îº Isotype Control', 'Mouse IgG2a, Îº Isotype Control',
       'Mouse IgG2b, Îº Isotype Control', 'Rat IgG2b, Îº Isotype Control',
       'TCR Î³/Î´', 'CD103', 'CD69', 'CD197 (CCR7)', 'CD27', 'CD95 (Fas)',
       'HLA-DR', 'CD1c', 'CD370 (CLEC9A/DNGR1)', 'FceRIa', 'CD163',
       'CD28', 'CD38', 'CD127 (IL-7Ra)', 'TCR Va7.2', 'CD94',
       'phycoerythrin (PE)', 'CD4'], dtype=object)

In [ ]:
features_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_features.tsv', sep='\t')
print(features_df.shape)
features_df.head()
#### HAS NO COLUMNSNAMES -> 1. Gene ID Ensample id, 2. Gene symbol , 3. Descriptor ?
### scTranscriptsome pro proble gibts pro zelle einen wert.
###### spalte: sc

(33576, 3)

   ENSG00000243485 MIR1302-2HG  Gene Expression
0  ENSG00000237613     FAM138A  Gene Expression
1  ENSG00000186092       OR4F5  Gene Expression
2  ENSG00000238009  AL627309.1  Gene Expression
3  ENSG00000239945  AL627309.3  Gene Expression
4  ENSG00000239906  AL627309.2  Gene Expression

In [ ]:
barcodes_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_barcodes.tsv', sep='\t')
barcodes_df.head()

   AAACCCACACCAGCGT-1
0  AAACCCACATCTCAAG-1
1  AAACGAAAGACCTGGA-1
2  AAACGCTCAGTGGGTA-1
3  AAACGCTGTAGCTTGT-1
4  AAACGCTGTTTGACAC-1

In [ ]:
### COV 1 -> this is a subject
cov1_barcodes_df =  pd.read_csv(gse152418_folder + 'geo/GSE155673_cov01_barcodes.tsv', sep='\t')
cov1_barcodes_df.head()

   AAACCCACACCAGCGT-1
0  AAACCCACATCTCAAG-1
1  AAACGAAAGACCTGGA-1
2  AAACGCTCAGTGGGTA-1
3  AAACGCTGTAGCTTGT-1
4  AAACGCTGTTTGACAC-1

In [ ]:
sparse_matrix = mmread(gse152418_folder+ 'geo/GSE155673_cov01_matrix.mtx')
dense_matrix = sparse_matrix.todense()
cov1_matrix_as_df = pd.DataFrame(dense_matrix)
print(cov1_matrix_as_df.shape)
cov1_matrix_as_df.head()

(33577, 4491)

,0,1,2,3,4,5,6,7,8,9,...,4481,4482,4483,4484,4485,4486,4487,4488,4489,4490
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0