In [12]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy.io import mmread

In [ ]:
#With his I mostly want to find out how i can integrate this papers data into ImmPort

In [5]:
## Testwise integration of 2020_Arachandra_Wimmers
root_folder = '/var/datasets/single_papers/2020_Arunachalam_Wimmers/'
gse152418_folder = root_folder + 'GSE152418/'

In [6]:
totalseq_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_totalseq_a_hto.csv')
totalseq_df.head()

   Catalog         Sequence             Gene ID           Specificity    Clone
0   109123  GAAAGTCAAAGCACT  ENSMUSG00000026285          CD279 (PD-1)  RMP1-30
1   305443  GTCTTTGTCAGTGCA     ENSG00000114013                  CD86    IT2.2
2   329743  GTTGTCCGACAATAC     ENSG00000120217  CD274 (B7-H1, PD-L1)  29E.2A3
3   300475  CTCATTGTAACTCCT     ENSG00000167286                   CD3    UCHT1
4   362557  TCCTTTCCTGATAGG     ENSG00000149294           CD56 (NCAM)   5.1H11

In [23]:
## Biomarkers from 
print(f'Biomarkers: {len(totalseq_df['Specificity'].unique())}')
spec_names = totalseq_df['Specificity'].unique()
totalseq_df['Specificity'].unique()
# what is: 
## Catalog (table headline), and Clone ?
## κ Isotype Control ?
# Not important but: Can you even count an antibody as a biomarker ? 
# Count try: {entry: totalseq_df['Specificity'].value_counts().get(entry, 0) for entry in spec_names}

Biomarkers: 38

array(['CD279 (PD-1)', 'CD86', 'CD274 (B7-H1, PD-L1)', 'CD3',
       'CD56 (NCAM)', 'CD19', 'CD33', 'CD11c', 'CD34', 'CD45RA', 'CD123',
       'CD8a', 'CD14', 'CD16', 'CD25', 'CD45RO',
       'Mouse IgG1, κ Isotype Control', 'Mouse IgG2a, κ Isotype Control',
       'Mouse IgG2b, κ Isotype Control', 'Rat IgG2b, κ Isotype Control',
       'TCR γ/δ', 'CD103', 'CD69', 'CD197 (CCR7)', 'CD27', 'CD95 (Fas)',
       'HLA-DR', 'CD1c', 'CD370 (CLEC9A/DNGR1)', 'FceRIa', 'CD163',
       'CD28', 'CD38', 'CD127 (IL-7Ra)', 'TCR Va7.2', 'CD94',
       'phycoerythrin (PE)', 'CD4'], dtype=object)

In [20]:
features_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_features.tsv', sep='\t')
print(features_df.shape)
features_df.head()
#### HAS NO COLUMNSNAMES -> 1. Gene ID Ensample id, 2. Gene symbol , 3. Descriptor ?
### scTranscriptsome pro proble gibts pro zelle einen wert.
###### spalte: sc

(33576, 3)

   ENSG00000243485 MIR1302-2HG  Gene Expression
0  ENSG00000237613     FAM138A  Gene Expression
1  ENSG00000186092       OR4F5  Gene Expression
2  ENSG00000238009  AL627309.1  Gene Expression
3  ENSG00000239945  AL627309.3  Gene Expression
4  ENSG00000239906  AL627309.2  Gene Expression

In [9]:
barcodes_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_barcodes.tsv', sep='\t')
barcodes_df.head()

   AAACCCACACCAGCGT-1
0  AAACCCACATCTCAAG-1
1  AAACGAAAGACCTGGA-1
2  AAACGCTCAGTGGGTA-1
3  AAACGCTGTAGCTTGT-1
4  AAACGCTGTTTGACAC-1

In [10]:
### COV 1 -> this is a subject
cov1_barcodes_df =  pd.read_csv(gse152418_folder + 'geo/GSE155673_cov01_barcodes.tsv', sep='\t')
cov1_barcodes_df.head()

   AAACCCACACCAGCGT-1
0  AAACCCACATCTCAAG-1
1  AAACGAAAGACCTGGA-1
2  AAACGCTCAGTGGGTA-1
3  AAACGCTGTAGCTTGT-1
4  AAACGCTGTTTGACAC-1

In [14]:
sparse_matrix = mmread(gse152418_folder+ 'geo/GSE155673_cov01_matrix.mtx')
dense_matrix = sparse_matrix.todense()
cov1_matrix_as_df = pd.DataFrame(dense_matrix)
print(cov1_matrix_as_df.shape)
cov1_matrix_as_df.head()

(33577, 4491)

,0,1,2,3,4,5,6,7,8,9,...,4481,4482,4483,4484,4485,4486,4487,4488,4489,4490
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0