metadata looks good, now i need to find counts. 
-> got them per mail: Github: https://github.com/csbl-usp/csbl_chikungunya_edgeR/
there is the matrix and so on... otherwise i could not find it ...

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os
from scipy.io import mmread

In [3]:
#With his I mostly want to find out how i can integrate this papers data into ImmPort

In [4]:
## Testwise integration of 2020_Arachandra_Wimmers
root_folder = '/var/datasets/single_papers/'
metadata_folder ='/home/eliasschreiner/PROJEKT/2019_soares-schanoski_PLOS/metadata.txt'
metadata_df = pd.read_csv(metadata_folder)
print(metadata_df.shape)
metadata_df.head()

(59, 34)

,Run,Age,Assay Type,AvgSpotLen,Bases,BIOMATERIAL_PROVIDER,BioProject,BioSample,BioSampleModel,Bytes,...,Organism,Platform,ReleaseDate,create_date,version,Sample Name,sample_type,sex,SRA Study,tissue
0,SRR8521476,28,RNA-Seq,200,4554944800,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847050,Human,1867033216,...,Homo sapiens,ILLUMINA,2019-06-03T00:00:00Z,2019-02-01T14:49:00Z,1,P20,Infected,female,SRP183186,blood
1,SRR8521477,24,RNA-Seq,200,8578339000,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847051,Human,3511339988,...,Homo sapiens,ILLUMINA,2019-06-03T00:00:00Z,2019-02-01T14:59:00Z,1,P21,Infected,male,SRP183186,blood
2,SRR8521478,79,RNA-Seq,200,2741136800,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847052,Human,1118760671,...,Homo sapiens,ILLUMINA,2019-06-03T00:00:00Z,2019-02-01T14:46:00Z,1,P23,Infected,female,SRP183186,blood
3,SRR8521479,42,RNA-Seq,200,2641235600,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847053,Human,1098375531,...,Homo sapiens,ILLUMINA,2019-06-03T00:00:00Z,2019-02-01T14:46:00Z,1,P2C,Control,female,SRP183186,blood
4,SRR8521480,22,RNA-Seq,200,3441271000,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847054,Human,1404048497,...,Homo sapiens,ILLUMINA,2019-06-03T00:00:00Z,2019-02-01T14:47:00Z,1,P3,Infected,male,SRP183186,blood

In [8]:
path = '/var/datasets/single_papers/2019_soares-schanoski_PLOS'
counts_df_inf = pd.read_csv(f'{path}/fccoounts.matrix.infected', sep='\t')
print(counts_df_inf.shape)
counts_df_inf.head()

(57685, 59)

,P1C,P2C,P3C,P4C,P5C,P6C,P7C,P8C,P9C,P10C,...,P9,P92,PZIAKG11,PZIKAG08,PZIKAG09,PZIKAG12,PZIKAG14,PZIKAG15,PZIKAG18,PZIKAG22
ENSG00000223972,5,6,13,13,3,7,4,5,7,13,...,5,2,5,10,2,6,2,1,4,1
ENSG00000227232,9,2,6,3,9,7,5,6,12,13,...,2,0,7,18,7,9,2,2,1,8
ENSG00000278267,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ENSG00000243485,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
ENSG00000284332,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
ensamble_df = pd.read_csv(f'{path}/symbols_ensembl_id.tsv', sep='\t')
print(ensamble_df.shape)
ensamble_df.head()

(36969, 3)

   geneSymbol geneSymbol.1           Symbol
1           1         A1BG  ENSG00000121410
2           2     A1BG-AS1  ENSG00000268895
3           3         A1CF  ENSG00000148584
4           4          A2M  ENSG00000175899
5           5      A2M-AS1  ENSG00000245105

In [11]:
samplesinfo_df = pd.read_csv(f'{path}/samplesinfo.tsv', sep='\t')
print(samplesinfo_df.shape)
samplesinfo_df.head()

(59, 3)

  Sample Class Gender
0    P1C  CTRL      F
1    P2C  CTRL      F
2    P3C  CTRL      F
3    P4C  CTRL      F
4    P5C  CTRL      M

In [12]:
metadata_df_merged = metadata_df.merge(samplesinfo_df, left_on='Sample Name', right_on='Sample', how='left')
print(metadata_df_merged.shape)
metadata_df_merged.head()

(59, 37)

,Run,Age,Assay Type,AvgSpotLen,Bases,BIOMATERIAL_PROVIDER,BioProject,BioSample,BioSampleModel,Bytes,...,create_date,version,Sample Name,sample_type,sex,SRA Study,tissue,Sample,Class,Gender
0,SRR8521476,28,RNA-Seq,200,4554944800,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847050,Human,1867033216,...,2019-02-01T14:49:00Z,1,P20,Infected,female,SRP183186,blood,P20,INF,F
1,SRR8521477,24,RNA-Seq,200,8578339000,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847051,Human,3511339988,...,2019-02-01T14:59:00Z,1,P21,Infected,male,SRP183186,blood,P21,INF,M
2,SRR8521478,79,RNA-Seq,200,2741136800,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847052,Human,1118760671,...,2019-02-01T14:46:00Z,1,P23,Infected,female,SRP183186,blood,P23,INF,F
3,SRR8521479,42,RNA-Seq,200,2641235600,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847053,Human,1098375531,...,2019-02-01T14:46:00Z,1,P2C,Control,female,SRP183186,blood,P2C,CTRL,F
4,SRR8521480,22,RNA-Seq,200,3441271000,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847054,Human,1404048497,...,2019-02-01T14:47:00Z,1,P3,Infected,male,SRP183186,blood,P3,INF,M

In [21]:
counts_df_inf_T = counts_df_inf.T

combi_df = counts_df_inf_T.merge(metadata_df_merged, left_index=True, right_on='Sample', how='left')
print(combi_df.shape)
combi_df.tail(20)

(59, 57722)

,ENSG00000223972,ENSG00000227232,ENSG00000278267,ENSG00000243485,ENSG00000284332,ENSG00000237613,ENSG00000268020,ENSG00000240361,ENSG00000186092,ENSG00000238009,...,create_date,version,Sample Name,sample_type,sex,SRA Study,tissue,Sample,Class,Gender
32,6,17,0,0,0,0,0,0,0,8,...,2019-02-01T14:52:00Z,1,P4,Infected,female,SRP183186,blood,P4,INF,F
31,8,5,0,0,0,0,0,0,0,8,...,2019-02-01T14:50:00Z,1,P40,Infected,female,SRP183186,blood,P40,INF,F
30,7,7,0,0,0,0,0,0,1,10,...,2019-02-01T14:53:00Z,1,P41,Infected,female,SRP183186,blood,P41,INF,F
29,1,6,0,1,0,0,0,1,0,4,...,2019-02-01T14:45:00Z,1,P42,Infected,female,SRP183186,blood,P42,INF,F
28,1,16,0,1,0,0,0,0,2,6,...,2019-02-01T14:55:00Z,1,P43,Infected,female,SRP183186,blood,P43,INF,F
27,8,13,0,0,0,0,0,0,0,13,...,2019-02-01T14:52:00Z,1,P47,Infected,female,SRP183186,blood,P47,INF,F
36,3,9,0,0,0,0,0,0,0,3,...,2019-02-01T14:46:00Z,1,P54,Infected,male,SRP183186,blood,P54,INF,M
52,4,4,0,0,0,0,0,0,0,1,...,2019-02-01T14:46:00Z,1,P6,Infected,male,SRP183186,blood,P6,INF,M
50,9,7,0,0,0,0,0,0,0,9,...,2019-02-01T14:53:00Z,1,P7,Infected,male,SRP183186,blood,P7,INF,M
56,4,1,0,0,0,0,0,0,0,0,...,2019-02-01T14:47:00Z,1,P8,Infected,male,SRP183186,blood,P8,INF,M
54,5,2,0,0,0,0,0,0,1,1,...,2019-02-01T14:45:00Z,1,P9,Infected,female,SRP183186,blood,P9,INF,F
57,2,0,0,0,0,0,0,0,1,0,...,2019-02-01T14:44:00Z,1,P92,Infected,female,SRP183186,blood,P92,INF,M
11,5,7,0,0,0,0,0,0,0,23,...,2019-02-01T14:51:00Z,1,PZIAKG11,Infected,female,SRP183186,blood,PZIAKG11,INF,F
14,10,18,0,1,0,0,0,0,0,24,...,2019-02-01T14:53:00Z,1,PZIKAG08,Infected,female,SRP183186,blood,PZIKAG08,INF,F
13,2,7,0,0,0,0,0,0,0,8,...,2019-02-01T14:45:00Z,1,PZIKAG09,Infected,female,SRP183186,blood,PZIKAG09,INF,F
10,6,9,0,0,0,0,0,0,0,9,...,2019-02-01T14:46:00Z,1,PZIKAG12,Infected,female,SRP183186,blood,PZIKAG12,INF,F
40,2,2,0,0,0,0,0,0,0,3,...,2019-02-01T14:43:00Z,1,PZIKAG14,Infected,female,SRP183186,blood,PZIKAG14,INF,F
18,1,2,0,0,0,0,0,0,0,6,...,2019-02-01T14:44:00Z,1,PZIKAG15,Infected,female,SRP183186,blood,PZIKAG15,INF,F
17,4,1,0,0,0,0,0,0,0,9,...,2019-02-01T14:44:00Z,1,PZIKAG18,Infected,female,SRP183186,blood,PZIKAG18,INF,F
38,1,8,0,0,0,0,0,0,0,4,...,2019-02-01T14:46:00Z,1,PZIKAG22,Infected,female,SRP183186,blood,PZIKAG22,INF,F

In [32]:
## i want to have metadata intront
metadata_part = combi_df.columns.tolist()[-37:]
counts_part = combi_df.columns.tolist()[:-37]
combi_df_reordered_cols = metadata_part + counts_part
combi_df = combi_df[combi_df_reordered_cols]
combi_df.head()

,Run,Age,Assay Type,AvgSpotLen,Bases,BIOMATERIAL_PROVIDER,BioProject,BioSample,BioSampleModel,Bytes,...,ENSG00000198886,ENSG00000210176,ENSG00000210184,ENSG00000210191,ENSG00000198786,ENSG00000198695,ENSG00000210194,ENSG00000198727,ENSG00000210195,ENSG00000210196
16,SRR8521492,59,RNA-Seq,200,4448828000,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847048,Human,1860844669,...,340,1,0,5,360,54,4,495,21,241
3,SRR8521479,42,RNA-Seq,200,2641235600,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847053,Human,1098375531,...,350,1,1,4,408,60,3,472,36,208
33,SRR8521509,44,RNA-Seq,200,4807721600,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847061,Human,2003602201,...,463,5,2,7,531,52,2,676,51,377
37,SRR8521513,62,RNA-Seq,200,1714513800,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847068,Human,713717360,...,253,0,0,0,178,24,1,266,14,121
51,SRR8521527,76,RNA-Seq,200,2704337000,"Paolo Marinho de Andrade Zanotto\, Laboratory ...",PRJNA507472,SAMN10847070,Human,1129338960,...,303,1,0,5,304,52,2,426,14,280

In [34]:
## hawk tuah - and save that thing
combi_df.to_csv('soares_chikungunya_virus_combi.csv')