One dataset fits well but lacka age information (GSE152418)
        Werde  nicht alles mappen können, habe zwar eine xlsx file von flo bekommen, dabei sind aber nicht alle samples enthalten (nCov034) z.b. nicht... denke ich kann ein mapping hinbekommen, aber mit abstrichen
The other one is single-cell but does not lack ages (fokus for now is bulk)

In [7]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
from scipy.io import mmread
sys.path.append(os.path.abspath(os.path.join('..', 'utils')))
import geo_utils
from geo_utils import read_prefixes_from_metadata_txt

In [2]:
## Testwise integration of 2020_Arachandra_Wimmers
root_folder = '/var/datasets/single_papers/2020_Arunachalam_Wimmers/'
gse152418_folder = root_folder + 'GSE152418/'

In [23]:
counts_file = gse152418_folder + '/GSE152418_p20047_Study1_RawCounts.txt'
counts_gse152418 = pd.read_csv(counts_file, sep='\t')
counts_gse152418_T = counts_gse152418.T
counts_gse152418_T.columns = counts_gse152418_T.iloc[0,:]
counts_gse152418_T = counts_gse152418_T.drop(counts_gse152418_T.index[0])
print(counts_gse152418.shape)

counts_gse152418_T.head()

(60683, 35)

ENSEMBLID,ENSG00000223972,ENSG00000227232,ENSG00000278267,ENSG00000243485,ENSG00000284332,ENSG00000237613,ENSG00000268020,ENSG00000240361,ENSG00000186092,ENSG00000238009,...,ENSG00000273532,ENSG00000276351,ENSG00000275661,ENSG00000277856,ENSG00000275063,ENSG00000271254,ENSG00000275405,ENSG00000275987,ENSG00000277475,ENSG00000268674
S145_nCOV001_C,0,1,3,2,0,0,0,1,0,1,...,0,0,0,38,56,40,31,0,0,0
S147_nCoV001EUHM-Draw-1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,174,151,31,22,0,0,0
S149_nCoV002EUHM-Draw-2,0,3,2,0,0,0,0,0,0,0,...,0,0,0,283,1313,56,13,0,0,0
S150_nCoV003EUHM-Draw-1,0,16,0,1,0,0,0,0,0,0,...,0,0,0,1365,5028,42,19,0,0,0
S151_nCoV004EUHM-Draw-1,0,1,3,0,0,0,0,0,0,0,...,0,0,0,184,2240,42,5,0,1,0

In [13]:

metadata_txt_GSE152418 = read_prefixes_from_metadata_txt(f"{gse152418_folder}/GSE152418_series_matrix.txt")
print(metadata_txt_GSE152418.shape)
metadata_txt_GSE152418.head()

(34, 44)

/home/eliasschreiner/PROJEKT/utils/geo_utils.py:46: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip('"') if isinstance(x, str) else x)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,contact_zip/postal_code,contact_country,data_row_count,instrument_model,library_selection,library_source,library_strategy,relation,relation.2,supplementary_file_1
0,S145_nCOV001_C,GSM4614985,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 40,...,30329-4208,USA,0,Illumina NovaSeq 6000,cDNA,transcriptomic,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRX...,NONE
1,S147_nCoV001EUHM-Draw-1,GSM4614986,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 2,...,30329-4208,USA,0,Illumina NovaSeq 6000,cDNA,transcriptomic,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRX...,NONE
2,S149_nCoV002EUHM-Draw-2,GSM4614987,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 23,...,30329-4208,USA,0,Illumina NovaSeq 6000,cDNA,transcriptomic,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRX...,NONE
3,S150_nCoV003EUHM-Draw-1,GSM4614988,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 15,...,30329-4208,USA,0,Illumina NovaSeq 6000,cDNA,transcriptomic,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRX...,NONE
4,S151_nCoV004EUHM-Draw-1,GSM4614989,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 9,...,30329-4208,USA,0,Illumina NovaSeq 6000,cDNA,transcriptomic,RNA-Seq,BioSample: https://www.ncbi.nlm.nih.gov/biosam...,SRA: https://www.ncbi.nlm.nih.gov/sra?term=SRX...,NONE

In [28]:
merged_df_GSE152418 = pd.merge(metadata_txt_GSE152418, counts_gse152418_T, left_on='title', right_index=True)

(34, 60727)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,ENSG00000273532,ENSG00000276351,ENSG00000275661,ENSG00000277856,ENSG00000275063,ENSG00000271254,ENSG00000275405,ENSG00000275987,ENSG00000277475,ENSG00000268674
0,S145_nCOV001_C,GSM4614985,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 40,...,0,0,0,38,56,40,31,0,0,0
1,S147_nCoV001EUHM-Draw-1,GSM4614986,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 2,...,0,0,0,174,151,31,22,0,0,0
2,S149_nCoV002EUHM-Draw-2,GSM4614987,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 23,...,0,0,0,283,1313,56,13,0,0,0
3,S150_nCoV003EUHM-Draw-1,GSM4614988,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 15,...,0,0,0,1365,5028,42,19,0,0,0
4,S151_nCoV004EUHM-Draw-1,GSM4614989,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 9,...,0,0,0,184,2240,42,5,0,1,0

In [30]:
print(merged_df_GSE152418.shape)
merged_df_GSE152418.head()

(34, 60727)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,ENSG00000273532,ENSG00000276351,ENSG00000275661,ENSG00000277856,ENSG00000275063,ENSG00000271254,ENSG00000275405,ENSG00000275987,ENSG00000277475,ENSG00000268674
0,S145_nCOV001_C,GSM4614985,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 40,...,0,0,0,38,56,40,31,0,0,0
1,S147_nCoV001EUHM-Draw-1,GSM4614986,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 2,...,0,0,0,174,151,31,22,0,0,0
2,S149_nCoV002EUHM-Draw-2,GSM4614987,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 23,...,0,0,0,283,1313,56,13,0,0,0
3,S150_nCoV003EUHM-Draw-1,GSM4614988,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 15,...,0,0,0,1365,5028,42,19,0,0,0
4,S151_nCoV004EUHM-Draw-1,GSM4614989,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 9,...,0,0,0,184,2240,42,5,0,1,0

In [32]:
merged_df_GSE152418.to_csv(f"2020_aranachalam_GSE152418_combi.csv")

In [41]:
merged_df_GSE152418[['ID_1', 'ID_2']] = merged_df_GSE152418['title'].str.split('_', expand=True, n=1)
merged_df_GSE152418.head()

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,ENSG00000275661,ENSG00000277856,ENSG00000275063,ENSG00000271254,ENSG00000275405,ENSG00000275987,ENSG00000277475,ENSG00000268674,ID_1,ID_2
0,S145_nCOV001_C,GSM4614985,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 40,...,0,38,56,40,31,0,0,0,S145,nCOV001_C
1,S147_nCoV001EUHM-Draw-1,GSM4614986,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 2,...,0,174,151,31,22,0,0,0,S147,nCoV001EUHM-Draw-1
2,S149_nCoV002EUHM-Draw-2,GSM4614987,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 23,...,0,283,1313,56,13,0,0,0,S149,nCoV002EUHM-Draw-2
3,S150_nCoV003EUHM-Draw-1,GSM4614988,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 15,...,0,1365,5028,42,19,0,0,0,S150,nCoV003EUHM-Draw-1
4,S151_nCoV004EUHM-Draw-1,GSM4614989,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 9,...,0,184,2240,42,5,0,1,0,S151,nCoV004EUHM-Draw-1

In [ ]:

#### Then i need mapping for the ESEMBLEID´s to gene descriptors. I used this: https://www.biotools.fr/mouse/ensembl_symbol_converter 
ensambleid_mapping = pd.read_csv('../utils/ENSEMBLID_mapping.txt', sep='\t')
mapping_dict_ensemblid = ensambleid_mapping.set_index('ENSEMBLID')['Gene'].to_dict()
counts_gse152418_T.columns = counts_gse152418_T.columns.map(mapping_dict_ensemblid)

In [ ]:
print(counts_gse152418_T.shape)
counts_gse152418_T.head()

(34, 60684)

ENSEMBLID,DDX11L1,WASH7P,MIR6859-1,MIR1302-2HG,MIR1302-2,FAM138A,OR4G4P,OR4G11P,OR4F5,AL627309.1,...,RF01973,RF01974,AC233755.2,AC233755.1,AC240274.1,RF00003,RF00003,AC213203.1,FAM231C,ID
0,0,1,3,2,0,0,0,1,0,1,...,0,0,38,56,40,31,0,0,0,GSM4614985
1,0,0,1,0,0,0,0,0,0,0,...,0,0,174,151,31,22,0,0,0,GSM4614986
2,0,3,2,0,0,0,0,0,0,0,...,0,0,283,1313,56,13,0,0,0,GSM4614987
3,0,16,0,1,0,0,0,0,0,0,...,0,0,1365,5028,42,19,0,0,0,GSM4614988
4,0,1,3,0,0,0,0,0,0,0,...,0,0,184,2240,42,5,0,1,0,GSM4614989

In [46]:
### I got data per mail from Flo Wimmers: 
metadata_flo_gse152418_path = "/home/eliasschreiner/PROJEKT/2020_Arunachalam_Wimmers/arunachalam_subjects.xlsx"
metadata_gse152418 = pd.read_excel(metadata_flo_gse152418_path)
print(metadata_gse152418.shape)
print(f"Unique patient ids in metadata: {len(list(metadata_gse152418['Patient_ID'].unique()))}")
metadata_gse152418.iloc[74:111,:]

metadata_gse152418.head()
metadata_gse152418.iloc[73:112,:].head()
# Conditionally transform the 'original_id' column to match the 'ID_2' format only if it contains "(Draw X)"
metadata_gse152418['ID_2'] = metadata_gse152418['Patient_ID'].astype(str).apply(
    lambda x: x if pd.isnull(x) or '(Draw ' not in x else x.replace(' (Draw ', '-Draw-').replace(')', '')
)

(211, 9)
Unique patient ids in metadata: 158

,Patient_ID,Gender,Age,Infection_status,Days_post_symptom,Day_range_post_symptom,Infection_severity,Chelation_agent,Site
73,nCOV001,M,80.0,CoVID19,40.0,41 to 50,Convalescent,Citrate,Emory
74,nCOV002,F,80.0,CoVID19,40.0,41 to 50,Convalescent,Citrate,Emory
75,nCoV001EUHM (Draw 1),F,75.0,CoVID19,2.0,01 to 10,Moderate,Citrate,Emory
76,nCoV002EUHM (Draw 1),M,54.0,CoVID19,17.0,11 to 17,ICU,Citrate,Emory
77,nCoV002EUHM (Draw 2),M,54.0,CoVID19,23.0,21 to 30,Severe,Citrate,Emory

In [55]:
merged_df_GSE152418_w_age_df_left = pd.merge(merged_df_GSE152418, metadata_gse152418, on='ID_2', how='left', indicator=True)
print(merged_df_GSE152418_w_age_df.shape)
merged_df_GSE152418_w_age_df[merged_df_GSE152418_w_age_df['_merge'] == 'left_only']['title']
# unmergeable: 
''' 
0               S145_nCOV001_C
7     S154_nCoV0010EUHM-Draw-1
8             S155_nCOV021EUHM
9      S156_nCOV024EUHM-Draw-1
10           S157_nCOV0029EUHM
11     S175_nCoV024EUHM-Draw-2
15     S179_nCoV033EUHM-Draw-1
16     S180_nCoV034EUHM-Draw-1
30                 S182_SHXA10
32                 S184_SHXA18
34                 S186_SHXA14
'''
### I guess i could manually add: S145_nCOV001_C, S154_nCoV0010EUHM-Draw-1 and S157_nCOV0029EUHM(probably a type and a 0 was added), S155_nCOV021EUHM (as there is only 1 draw), 
merged_df_GSE152418_w_age_df_matches = merged_df_GSE152418_w_age_df[merged_df_GSE152418_w_age_df['_merge'] != 'left_only']
print(merged_df_GSE152418_w_age_df_matches.shape)
merged_df_GSE152418_w_age_df_matches.head()

(35, 60739)
(24, 60739)

,title,geo_accession,status,submission_date,last_update_date,type,channel_count,source_name_ch1,organism_ch1,characteristics_ch1,...,Patient_ID,Gender,Age,Infection_status,Days_post_symptom,Day_range_post_symptom,Infection_severity,Chelation_agent,Site,_merge
1,S147_nCoV001EUHM-Draw-1,GSM4614986,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 2,...,nCoV001EUHM (Draw 1),F,75.0,CoVID19,2.0,01 to 10,Moderate,Citrate,Emory,both
2,S149_nCoV002EUHM-Draw-2,GSM4614987,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 23,...,nCoV002EUHM (Draw 2),M,54.0,CoVID19,23.0,21 to 30,Severe,Citrate,Emory,both
3,S150_nCoV003EUHM-Draw-1,GSM4614988,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 15,...,nCoV003EUHM (Draw 1),F,75.0,CoVID19,15.0,11 to 20,Severe,Citrate,Emory,both
4,S151_nCoV004EUHM-Draw-1,GSM4614989,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 9,...,nCoV004EUHM (Draw 1),M,59.0,CoVID19,9.0,01 to 10,ICU,Citrate,Emory,both
5,S152_nCoV006EUHM-Draw-1,GSM4614990,Public on Jul 31 2020,Jun 13 2020,Feb 01 2021,SRA,1,PBMC,Homo sapiens,days_post_symptom_onset: 16,...,nCoV006EUHM (Draw 1),M,59.0,CoVID19,16.0,11 to 20,Severe,Citrate,Emory,both

In [56]:
merged_df_GSE152418_w_age_df_matches.to_csv("2020_aranachalam_GSE152418_combi.csv")

In [ ]:
metadata_gse152418




# ### Metadata from the SRA Run tool -> i feel like this metadata is wrong... . Currently the SRA selector tool lacka age... 
# -> Flo fragen ob er hier noch infos zu der subjects ages hat 


## was for the other GSE sample which is single cell. .
# metadata_file = gse152418_folder + '/metadata.txt'
# metadata_gse152418 = pd.read_csv(metadata_file)
# print(metadata_gse152418.shape)
# metadata_gse152418.head()

(144, 33)

,Run,Age,Assay Type,AvgSpotLen,Bases,BioProject,BioSample,Bytes,cell_type,Center Name,...,Organism,Platform,ReleaseDate,create_date,version,Sample Name,Sample_name,sex,source_name,SRA Study
0,SRR12404152,75,RNA-Seq,127,4705722618,PRJNA655740,SAMN15751363,2422148361,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T22:04:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
1,SRR12404153,75,RNA-Seq,127,4774315699,PRJNA655740,SAMN15751363,2508685744,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T21:59:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
2,SRR12404154,75,RNA-Seq,127,4845187922,PRJNA655740,SAMN15751363,2484581412,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T22:07:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
3,SRR12404156,75,RNA-Seq,127,4939458244,PRJNA655740,SAMN15751363,2527824162,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T22:25:00Z,1,GSM4712885,nCOV3EUHM,female,single cell mRNA,SRP276502
4,SRR12404159,60,RNA-Seq,127,3810265049,PRJNA655740,SAMN15751349,1967331144,PBMC,GEO,...,Homo sapiens,ILLUMINA,2020-08-09T00:00:00Z,2020-08-06T21:26:00Z,1,GSM4712899,nCOV021EUHM,female,single cell mRNA,SRP276502

In [ ]:
### Oooookay my mapping did not work out, the GSM from meta differs from the downloaded table
metadata_gse152418[metadata_gse152418['Sample Name']=='GSM4614987']

Empty DataFrame
Columns: [Run, Age, Assay Type, AvgSpotLen, Bases, BioProject, BioSample, Bytes, cell_type, Center Name, Consent, DATASTORE filetype, DATASTORE provider, DATASTORE region, days_since_symptom_onset, disease_severity, disease_status, Experiment, GEO_Accession (exp), Instrument, LibraryLayout, LibrarySelection, LibrarySource, Organism, Platform, ReleaseDate, create_date, version, Sample Name, Sample_name, sex, source_name, SRA Study]
Index: []

[0 rows x 33 columns]

In [ ]:
#### IMPORTANT; We merge per sample, NOT per subject here! 
combi_df_all_meta = pd.merge(counts_gse152418_T, metadata_gse152418, left_on='ID', right_on='Sample Name', how='left')
print(combi_df_all_meta.shape)
combi_df_all_meta.head()
#### großen all meta file saven
#### reduzieren um mit 10kimmu zu matchen


#### dann evtl "optimieren"

(0, 60717)

Empty DataFrame
Columns: [DDX11L1, WASH7P, MIR6859-1, MIR1302-2HG, MIR1302-2, FAM138A, OR4G4P, OR4G11P, OR4F5, AL627309.1, AL627309.3, CICP27, AL627309.6, AL627309.7, AL627309.2, AL627309.5, RNU6-1100P, AL627309.4, FO538757.2, FO538757.1, MIR6859-2, AP006222.1, nan, RPL23AP24, AL732372.1, AL732372.2, WBP1LP7, OR4F29, CICP7, AL732372.3, RF00026, AL669831.3, AC114498.1, MTND1P23, MTND2P28, MTCO1P12, MIR6723, MTCO2P12, MTATP8P1, MTATP6P1, MTCO3P12, WBP1LP6, OR4F16, CICP3, AL669831.1, RNU6-1199P, AL669831.2, AL669831.5, AL669831.7, AL669831.4, FAM87B, LINC01128, LINC00115, nan, FAM41C, TUBB8P11, AL669831.6, AL645608.7, AL645608.3, AL645608.5, AL645608.1, SAMD11, NOC2L, KLHL17, PLEKHN1, PERM1, AL645608.8, HES4, ISG15, AL645608.4, AL645608.2, AGRN, AL645608.6, AL390719.1, AL645608.9, RNF223, C1orf159, nan, LINC01342, MIR200B, MIR200A, MIR429, AL390719.2, TTLL10-AS1, TTLL10, TNFRSF18, TNFRSF4, SDF4, B3GALT6, C1QTNF12, AL162741.1, UBE2J2, LINC01786, SCNN1D, ACAP3, MIR6726, PUSL1, INTS11, MIR6727, AL139287.1, ...]
Index: []

[0 rows x 60717 columns]

In [ ]:
totalseq_df = pd.read_csv(gse152418_folder + 'geo/.csv')

FileNotFoundError: [Errno 2] No such file or directory: '/var/datasets/single_papers/2020_Arunachalam_Wimmers/GSE152418/geo/.csv'

In [ ]:
## Biomarkers from 
print(f'Biomarkers: {len(totalseq_df['Specificity'].unique())}')
spec_names = totalseq_df['Specificity'].unique()
totalseq_df['Specificity'].unique()
# what is: 
## Catalog (table headline), and Clone ?
## κ Isotype Control ?
# Not important but: Can you even count an antibody as a biomarker ? 
# Count try: {entry: totalseq_df['Specificity'].value_counts().get(entry, 0) for entry in spec_names}

Biomarkers: 38

array(['CD279 (PD-1)', 'CD86', 'CD274 (B7-H1, PD-L1)', 'CD3',
       'CD56 (NCAM)', 'CD19', 'CD33', 'CD11c', 'CD34', 'CD45RA', 'CD123',
       'CD8a', 'CD14', 'CD16', 'CD25', 'CD45RO',
       'Mouse IgG1, κ Isotype Control', 'Mouse IgG2a, κ Isotype Control',
       'Mouse IgG2b, κ Isotype Control', 'Rat IgG2b, κ Isotype Control',
       'TCR γ/δ', 'CD103', 'CD69', 'CD197 (CCR7)', 'CD27', 'CD95 (Fas)',
       'HLA-DR', 'CD1c', 'CD370 (CLEC9A/DNGR1)', 'FceRIa', 'CD163',
       'CD28', 'CD38', 'CD127 (IL-7Ra)', 'TCR Va7.2', 'CD94',
       'phycoerythrin (PE)', 'CD4'], dtype=object)

In [ ]:
features_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_features.tsv', sep='\t')
print(features_df.shape)
features_df.head()
#### HAS NO COLUMNSNAMES -> 1. Gene ID Ensample id, 2. Gene symbol , 3. Descriptor ?
### scTranscriptsome pro proble gibts pro zelle einen wert.
###### spalte: sc

(33576, 3)

   ENSG00000243485 MIR1302-2HG  Gene Expression
0  ENSG00000237613     FAM138A  Gene Expression
1  ENSG00000186092       OR4F5  Gene Expression
2  ENSG00000238009  AL627309.1  Gene Expression
3  ENSG00000239945  AL627309.3  Gene Expression
4  ENSG00000239906  AL627309.2  Gene Expression

In [ ]:
barcodes_df = pd.read_csv(gse152418_folder + 'geo/GSE155673_barcodes.tsv', sep='\t')
barcodes_df.head()

   AAACCCACACCAGCGT-1
0  AAACCCACATCTCAAG-1
1  AAACGAAAGACCTGGA-1
2  AAACGCTCAGTGGGTA-1
3  AAACGCTGTAGCTTGT-1
4  AAACGCTGTTTGACAC-1

In [ ]:
### COV 1 -> this is a subject
cov1_barcodes_df =  pd.read_csv(gse152418_folder + 'geo/GSE155673_cov01_barcodes.tsv', sep='\t')
cov1_barcodes_df.head()

   AAACCCACACCAGCGT-1
0  AAACCCACATCTCAAG-1
1  AAACGAAAGACCTGGA-1
2  AAACGCTCAGTGGGTA-1
3  AAACGCTGTAGCTTGT-1
4  AAACGCTGTTTGACAC-1

In [ ]:
sparse_matrix = mmread(gse152418_folder+ 'geo/GSE155673_cov01_matrix.mtx')
dense_matrix = sparse_matrix.todense()
cov1_matrix_as_df = pd.DataFrame(dense_matrix)
print(cov1_matrix_as_df.shape)
cov1_matrix_as_df.head()

(33577, 4491)

,0,1,2,3,4,5,6,7,8,9,...,4481,4482,4483,4484,4485,4486,4487,4488,4489,4490
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0